/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*modular scale is perfect fourth (1.333em)
https://www.modularscale.com/?16px&1.333*/

/* Begin site styles below */

/*Code for main image*/
img {
  max-width: 91%;
  display: block;
  border: 1em double lightblue;
}

/*Style code for content in all pages*/
  /*Style code for header*/
.header {
  display: grid;
  grid-template-areas:
  "name";
  grid-template-columns: repeat(1, 1fr);
}
  /*Style code for h1*/
h1 {
  grid-area: name;
}
  /*Code for about main pages navigations (about me, my resume, my course catalog)*/
      /*flex*/
.main-nav {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  padding: 5%;
}
      /*Style*/
  /*Code for footer*/
      /*Grid*/
      /*Style*/

/*Style code for h2 */

/*Style for for text/p*/

/*Code for my resume page content*/
    /*Grid*/
    /*Style*/

/*Code my course catalog page content  */
    /*Grid*/
    /*Style*/
    /*Style code for my course catalag course navigation */

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
