/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*modular scale is perfect fourth (1.333em)
https://www.modularscale.com/?16px&1.333*/
/*FONT SIZES
p=1em
h1/header=
h2=
h3=
h4=
navigation=
footer links=

/* Begin site styles below */

/*Code for main image*/
img {
  max-width: 100%;
  display: block;
  border: 1em double lightblue;
}

/*Style code for content in all pages*/
  /*Style code for header*/
p {
  line-height: 1.5em;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 1%;
}
.foot {
  font-size: 1.728em;
}
#list-of-media {
  font-size: 1.44em;
}
  /*Style code for h1*/
h1 {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  font-size: 4.3em;
  line-height: 1em;
  padding: 15%;
}
  /*Code for about main pages navigations (about me, my resume, my course catalog)*/
      /*flex*/
.main-nav { /*ul element*/
  background-color: lightblue;
  display: flex;
  flex-wrap: row wrap;
  font-size: 1.7em;
}
#navigation li {
  flex: 1 1 auto;
}
#navigation a {
  padding: .6111em 0; /*11px/18px=.6111em    .6111em is for top and bottom, 0 is for left and right*/
  background-color: white;
  border: 1px solid green;
  border-radius: .5em;
  color: green;
  display: block;
  text-align: center;
  text-decoration: none;
}
#home #nav-hom,
#resume #nav-res,
#about #nav-abo,
#courses #nav-cou,
nav a:hover,
nav a:active{
  background: green;
  color: white;
}

  /*Code for footer*/
      /*Grid*/
footer {
  background-color: green;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}
      /*Style*/

/*Style code for h2 */
h2 {
  background-color: pink;
  font-size: 2.488em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
/*Style for for text/p*/

/*Code for more about me page content*/
    /*Grid*/
#info {
  display: grid;
  grid-template-areas:
  "hist"
  "hob"
  "work-a"
  "edu-a";
  grid-template-columns: repeat(1, auto);
}
#history {
  grid-area: hist;
  background-color: silver;
}
#edu-about {
  grid-area: edu-a;
  background-color: silver;
}
#work-about {
  grid-area: work-a;
  background-color: silver;
}
#hobbies {
  grid-area: hob;
  background-color: silver;
}
    /*Style*/

/*Code for my resume page content*/
    /*Grid for resume nav*/
#resume-links {
  background-color: orange;
  display: grid;
  grid-template-areas:
  "edu-link work-link"
  "skills-link com-link";
  grid-template-columns: repeat(2, 1fr);
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.444em;
}
#edu-link {
  grid-area: edu-link;
  padding-left: 10%;
  padding-bottom: 5%;
}
#work-link {
  grid-area: work-link;
  padding-bottom: 5%;
}
#skills-link {
  grid-area: skills-link;
  padding-left: 10%;
}
#comm-link {
  grid-area: com-link;
}
/*grid code for resume sections*/
#main-content-resume {
  display: grid;
  grid-template-areas:
  "about"
  "edu"
  "work"
  "skill"
  "comm";
  grid-template-columns: repeat(1, auto);
}
#about-me {
  grid-area: about;
}
#education {
  grid-area: edu;
}
#work-experince {
  grid-area: work;
}
#skills {
  grid-area: skill;
}
#community {
  grid-area: comm;
}
/*style for resume pages*/
.description {
  background-color: silver;
  padding: 5%;
}
    /*Style for individual portions in resume*/
h3 {
  background-color: pink;
  font-size: 1.728em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
h4 {
  background-color: gold;
  font-size: 1.44em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
/*Code my course catalog page content  */
    /*flex code for course navigation*/
#course-list {
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 33.333%;
  flex-direction: row;
  font-size: 1em;
  padding: 5%;
}

/*flex code for course list*/
.list-all-courses {
  display: flex;
  flex-direction: column;
}
.class-list {
  background-color: aqua;
  padding: 5%;
}
.course-menu-link {
  padding: 1%;
  border: .1em solid white;
}
.class-name-link {
  padding: 3%;
  font-size: 1.1em;
}

/*add back button to buttom of pages*/







    /*grid code for list of courses use with grid only**/
/*.list-all-courses {
  display: grid;
  grid-template-areas:
  "commu com-sc"
  "eco his"
  "ipro itmd"
  "maths phils"
  "phy pol-sc"
  "psycs socs"
  "sscia sscia";
  grid-template-columns: repeat(2, 1fr);
}
#com {
  grid-area: commu;
  background-color: yellow;
}
#cs {
  grid-area: com-sc;
  background-color: yellow;
}
#econ {
  grid-area: eco;
  background-color: yellow;
}
#hist {
  grid-area: his;
  background-color: yellow;
}
#ipro {
  grid-area: ipro;
  background-color: yellow;
}
#itmd {
  grid-area: itmd;
  background-color: yellow;
}
#math {
  grid-area: maths;
  background-color: yellow;
}
#phil {
  grid-area: phils;
  background-color: yellow;
}
#phys {
  grid-area: phy;
  background-color: yellow;
}
#ps {
  grid-area: pol-sc;
  background-color: yellow;
}
#psyc {
  grid-area: psycs;
  background-color: yellow;
}
#soc {
  grid-area: socs;
  background-color: yellow;
}
#ssci {
  grid-area: sscia;
  background-color: yellow;
}*/

    /*Style*/
    /*Style code for my course catalag course navigation */

/*Queries */

@media screen and (min-width: 800px) {

}
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
