/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*modular scale is minor third
https://www.modularscale.com/?16px&1.2*/
/*FONT SIZES
p=1em= 16px
line height= 130% or 1.30208em

h1/header= 4.3em
lh= 69px*1.3%= 90px/69px= 1.30435em
h2=
h3=
h4=
navigation=
footer links=

/* Begin site styles below */
/*Code for main image*/
img {
  max-width: 100%;
  display: block;
  border: .5em solid lightgreen;
  margin-left: 10%;
}
/*Style code for h1*/
h1 {
  background-color: tan;
  display: flex;
  flex-wrap: wrap;
  font-size: 4.3em;
  line-height: 1.30435em;
  padding: 15%;
}
/*Code for about main pages navigations (about me, my resume, my course catalog)*/
    /*flex*/
.main-nav { /*ul element*/
  background-color: lightblue;
  display: flex;
  flex-wrap: row wrap;
  font-size: 1.728em;
}
#navigation li {
  flex: 1 1 auto;
}
#navigation a {
  padding: .65625em 0; /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  background-color: white;
  border: 1px solid green;
  border-radius: .5em;
  color: green;
  display: block;
  text-align: center;
  text-decoration: none;
}
#home #nav-hom,
#resume #nav-res,
#about #nav-abo,
#courses #nav-cou,
nav a:hover,
nav a:active {
  background: green;
  color: white;
}
/*Code for footer*/
    /*Grid*/
footer {
background-color: green;
display: flex;
flex-direction: column;
padding-top: 10%;
padding-bottom: 10%;
text-align: center;
}
