/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */
/*modular scale is perfect fourth (1.333em)
https://www.modularscale.com/?16,18&px&1.333 */

/* Begin site styles below */
img {
  max-width: 91%;
  display: block;
  border: 1em double lightblue;
}
/*grid code for header*/
.header {
  display: grid;
  grid-template-areas:
  "name";
  grid-template-columns: repeat(1, 1fr);
}
h1 {
  grid-area: name;
}
/*grid code for navigation*/
.main-nav {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  padding: 5%;
}
li {
  padding: 5%;
  text-decoration: none;
}
/*grid code for footer*/
footer {
  background-color: lightblue;
  display: grid;
  grid-template-areas:
  "foot";
  grid-template-columns: auto;
  font-size: 1.333em;
  padding: 5%;
}
.footer {
  grid-area: foot;
}
/*grid code for resume nav*/
#resume-links {
  display: grid;
  grid-template-areas:
  "edu-link work-link"
  "skills-link com-link";
  grid-template-columns: repeat(2, 1fr);
  background-color: red;
  text-align: center;
}
#edu-link {
  grid-area: edu-link;
}
#work-link {
  grid-area: work-link;
}
#skills-link {
  grid-area: skills-link;
}
#comm-link {
  grid-area: com-link;
}
/*grid code for resume sections*/
#main-content {
  display: grid;
  grid-template-areas:
  "about"
  "edu"
  "work"
  "skill"
  "comm";
  grid-template-columns: repeat(1, auto);
}
#about-me {
  grid-area: about;
}
#education {
  grid-area: edu;
}
#work-experince {
  grid-area: work;
}
#skills {
  grid-area: skill;
}
#community {
  grid-area: comm;
}
/*grid for about page */
#info {
  display: grid;
  grid-template-areas:
  "hist hob"
  "work-a edu-a";
  grid-template-columns: repeat(2, auto);

}
#history {
  grid-area: hist;
  background-color: silver;
  padding: 5%;
}
#edu-about {
  grid-area: edu-a;
  background-color: silver;
  padding: 5%;
}
#work-about {
  grid-area: work-a;
  background-color: silver;
  padding: 5%;
}
#hobbies {
  grid-area: hob;
  background-color: silver;
  padding: 5%;
}
/*grid for course page navigation*/
.list-all-courses {
  display: grid;
  grid-template-areas:
  "commu com-sc"
  "eco his"
  "ipro itmd"
  "maths phils"
  "phy pol-sc"
  "psycs socs"
  "sscia sscia";
  grid-template-columns: repeat(2, 1fr);
}
#com {
  grid-area: commu;
}
#cs {
  grid-area: com-sc;
}
#econ {
  grid-area: eco;
}
#hist {
  grid-area: his;
}
#ipro {
  grid-area: ipro;
}
#itmd {
  grid-area: itmd;
}
#math {
  grid-area: maths;
}
#phil {
  grid-area: phils;
}
#phys {
  grid-area: phy;
}
#ps {
  grid-area: pol-sc;
}
#psyc {
  grid-area: psycs;
}
#soc {
  grid-area: socs;
}
#ssci {
  grid-area: sccia;
}
/* code for course catalog's links*/
#course-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 33.333%;
  background-color: pink;
  flex-direction: row;
}
/*style code*/
h1 {
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  font-size: 3.157em;
  line-height: 1.2em;
  margin-bottom: 2%;
  padding: 5%;

}
h2 {
  font-size: 1.5em;
  background-color: pink;
  padding: 5%;
}
.navigation {
  font-size: 1.333em;
  line-height: 1.125em;
  font-kerning: .563em;
}
.main-index {
  background-color: pink;
}
